ol {
    background-color: yellow;
}

.par {
    color: green;
}

.primo {
    text-transform: uppercase;
}

.header {
    color: red;
}
.header h1 {
    font-size: 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.lines {
    font-size: 20px;
}
.lines ol {
    font-weight: 900;
}
.lines .p-languages {
    color: blue;
}
.java {
    background-color: pink;
}

.links:hover {
    font-weight: 900;
    color: orange;
}