.header {
    margin-left: 10%;
}

.underheader {
    display: inline-block;  
    margin-left: 10%;
    width: 60%;
    background-color: cornflowerblue;
}

.article {
    width: 85%;
    margin-left: 10%;    
}
.article p {
    width: 60%;
}
.aside {
    float:right;
    list-style-type: square;
    width: 35%;
    margin-left:10%;

}

