* { 
    
    /* max-width: 80%; */
    /* width: 100%; */
    margin: 0 auto;
    text-align: center;
    
}

textarea {
    resize: none;
}

body {
    margin: auto;
}

form {
    background-color: azure;
}

h1, p {
    background-color: azure;
}

select {
    text-align: center;
}

#resumo-curriculo {
    margin-left: 45%;
}